<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/" ><img src="/images/Screen Shot 2020-05-18 at 11.03.07.png" alt="logo" id="logo-img"/></a>
       {{#if user}}
        <a class="profile-name" href="/place/create" >Add Place</a>
        <a class="profile-name" href="/place/list">All Places</a>
        <a class="profile-name" href="/user/private"><img src="{{ user.photo }}" class="profile-picture">{{user.name}}'s Profile</a>
        <form action="/authentication/sign-out" method="POST">
          <button class="sign-out">Sign Out</button>
        </form>
        {{else}}
        <a class="join-us" href="/authentication/join-us">Join Us</a>
      {{/if}}
    </nav>
      {{{body}}}   
    <script src="/scripts/script.js"></script>
    <script src="/scripts/sign-in-sign-out-script.js"></script>
  </body>
</html>
