<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/"><img="#" alt="logo" id="logo-img" />LOGO IMG</a>
      <a href="/place/list">See All Places</a>
      <a href="/place/create">Add Place</a>
      {{#if user}}
        <a href="/user/private"><img src="{{ user.photo }}" class="profile-picture">{{user.name}}'s Profile</a>
        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/join-us">Join Us</a>
      {{/if}}
    </nav>

    <div class="teste"></div>
      {{{body}}}

    
    <script src="/scripts/script.js"></script>
    <script src="/scripts/sign-in-sign-out-script.js"></script>
  </body>
</html>
