<form action="/place/{{ place._id }}/edit" method="POST">
  <span>Place Information</span>
    
    <input required value="{{ place.name }}"
           id="name-input" type="text" 
           name="name" placeholder="Name" class="input">

    <input required value="{{ place.coordinates.[1] }}"
           id="latitude-input" type="text" 
           name="latitude" placeholder="Latitude" class="input">

    <input required value="{{ place.coordinates.[0] }}"
           id="longitude-input" type="text" 
           name="longitude" placeholder="Longitude" class="input">

    <input required value="{{ place.description }}"
           id="description-input" type="text" 
           name="description" placeholder="Description" class="input">

  <button class="button3">Save</button>
  
</form>