  
<h1 class="places-title">See all the cool places to work around!</h1>

<div class="places">
  {{#each places}}
    <a href="/place/{{ _id }}"><h4>{{ name }}</h4></a>
    <img src="{{ images }}" class="place-img" />
    <br>
    <span><strong>Created by: </strong> {{ creator.name }}</span> <!-- at {{ creator.createdAt }} -->
    <hr> 
  {{/each}} 
</div>

<h1 class="map-title">Where are the places ?</h1>

<div id="map-container"></div>

<script>
  function initMap () {

    const places =  {{{ json places }}};

    const $mapContainer = document.getElementById('map-container');
    const map = new window.google.maps.Map($mapContainer, {
      center: { lat: 38.75, lng: -9.15 },
      zoom: 10
    });    

    const markers = [];
    for (let place of places) {

      const marker = new window.google.maps.Marker({
        map,
        position: {
          lat: place.coordinates[1],
          lng: place.coordinates[0]
        }
      });

      marker.addListener('click', () => {
        const endpoint = `/place/${ place._id }`;
        window.location = endpoint;
      });

      markers.push(marker);
    }
  }
</script>

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCmDb8pgP8aUIY1y42OPlks2nHrtPn2Sq8&callback=initMap'async defer></script>
