  
<h1>List of Places</h1>

{{#each places}}
  <a href="/place/{{ _id }}"><h4>{{ name }}</h4></a>
  <img src="{{ images }}"/>
  <small>Created by {{ creator.name }}</small>
  <br>
  <small>Created at {{ creator.createdAt }}</small>
  <br />
  <form action="/place/{{_id}}/delete" method="POST">
    <button>Delete</button>
  </form> 
{{/each}} 
