<div class="single-place">
    <h1>{{ place.name }}</h1>
    <img src="{{ place.images }}">
    <small>Created by {{ place.creator.name }}</small>
    <br />
    <p>{{ place.description }}</p>
    <hr>
</div>



<div class="edit-buttons">
  {{#if place.isOwner}}
    <button class="delete"><a href="/place/{{ place._id }}/edit">Edit</a></button>
    
    <form action="/place/{{ place._id }}/delete" method="POST">
      <button class="delete">Delete</button>
    </form>
  {{/if}}
</div>

<div id="map-container">
  <small>Latitude: {{ place.coordinates.[1] }} Longitude: {{ place.coordinates.[0] }}</small>
</div>

<div class="comments">
  <ul>
    {{#each comments}}
      <li>
        <p>{{ content }}</p>
        <small>Commented by {{ creator.name }}</small>
        <br />
        <small>Created At {{ creator.createdAt }}</small>
      </li>
    {{/each}}
  </ul>

  <form action="/comment/{{ place._id }}" method="POST">
    <label for="content-input"></label>
    <textarea id="content-input" name="content" placeholder="Post Comment"></textarea>

    <button class="submmit-button">Submit Comment</button>
  </form>
</div>


<script>
  function initMap () {
    const $mapContainer = document.getElementById('map-container');
    const map = new window.google.maps.Map($mapContainer, {
      center: { lat: 38.75, lng: -9.15 },
      zoom: 10
    });
    
    var lat = {{ place.coordinates.[1] }};
    var lng = {{ place.coordinates.[0] }};
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat,
        lng
      }
    });
  }
</script>

<script src='https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap'async defer></script>
