<article>
    <h1>{{ place.name }}</h1>
    <small>Created by {{ place.creator.email }}</small>
    <br />
    <p>{{ place.descripition }}</p>

    <div id="map-container"></div>

    <span>Latitude: {{ place.coordinates.[1] }} Longitude: {{ place.coordinates.[0] }}</span>
</article>


<script>
      function initMap() {
        const $mapContainer = document.getElementById('map-container');
        const map = new google.maps.Map($mapContainer, {
          center: { lat: 38.75, lng: -9.15 },
          zoom: 8
        });
      }
</script>

<script src='https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap'async defer></script>
